<% if product.inventory_count? %>
  <p><%= product.inventory_count %> in stock</p>
<% else %>
  <p>Hết hàng</p>
  <p>Gửi email cho tôi khi có thể.</p>

  <%= form_with model: [product, Subscriber.new] do |form| %>
    <%= form.email_field :email, placeholder: "you@gmail.com", required: true %>
    <%= form.submit "Send" %>
  <% end %>
<% end %>
