<% if product.inventory_count? %>
  <p><%= product.inventory_count %> in stock</p>
<% else %>
  <p>Hết hàng</p>
  <p>Gửi email cho tôi khi có thể.</p>

  <%= form_with model: [product, Subscriber.new], local: true do |form| %>
    <div class="form-group">
      <%= form.email_field :email, class: "form-control", placeholder: "you@gmail.com", required: true %>
    </div>

    <div class="form-group text-center">
      <%= form.submit "Gửi", class: "btn btn-primary btn-lg" %>
    </div>
  <% end %>
<% end %>
